<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<style>
	.error-header {
		background-color: red;
		font-size: 150%;
		font-weight: bold;
		color: white;
		padding: 10px;
	}
	body {
		padding: 0;
		margin: 0;
	}
	</style>
	
    <script src='{{publicPath "dist/vendor.js"}}'></script>
</head>
<body>
	{{#if usingDefaultAdminPassword}}
		<div class="error-header">WARNING: you're using the default admin password, please configure ELICITATION_STANDALONE_ADMIN_PASSWORD</div>
	{{/if}}
	
	<h1>Hi Admin! Welcome to your Elicitation Engine</h1>
	
	<button id="create">Create an Elicitation</button>
	
	<ul>
		{{#each elicitations}}
			<li><a href="../edit/{{ID}}/{{ElicitationName}}">{{ElicitationName}}</a></li>
		{{else}}
			<li><p>No elicitations found, sorry! Try reloading a couple times if you just created a new one.</p></li>
		{{/each}}
	</ul>
	
	<script>
		$(document).ready(function () {
			console.log("Ready");
			$("button#create").click(function () {
				$.post("create", {
					ElicitationName: prompt("Name of new elicitation, no spaces please:")
				}, function () {
				    alert("Elicitation created!");
                    location.reload(true);                    
				});
			});
		});
	</script>
</body>