<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<style>
	.error-header {
		background-color: red;
		font-size: 150%;
		font-weight: bold;
		color: white;
		padding: 10px;
	}
	body {
		padding: 0;
		margin: 0;
	}
	</style>
	
	{{js "assets/site.js"}}
</head>
<body>
	{{#if usingDefaultAdminPassword}}
		<div class="error-header">WARNING: you're using the default admin password, please configure ELICITATION_STANDALONE_ADMIN_PASSWORD</div>
	{{/if}}
	
	<h1>Welcome Admin to the Elicitation Gorilla</h1>
	
	<button id="create">Create Elicitation</button>
	
	<ul>
		{{#each elicitations}}
			<li><a href="/elicitation/edit/{{ID}}/{{ElicitationName}}">{{ElicitationName}}</a></li>
		{{else}}
			<li><p>No elicitations found, sorry!</p></li>
		{{/each}}
	</ul>
	
	<script>
		$(document).ready(function () {
			console.log("Ready");
			$("button#create").click(function () {
				$.post("admin/create", {
					ElicitationName: prompt("Name of new elicitation:")
				});
			});
		});
	</script>
</body>