<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{{#if isMobileDevice}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
{{/if}}

    <link rel="SHORTCUT ICON" href="{{publicPath "favicon.ico"}}" />

    <title>{{elicitationName}} - Expert Elicitation</title>
    
{{includeStatic "google-analytics.html"}}

{{#if isMobileDevice}}
    <!-- 
        fixme, need to replace this after connect-assetsification:
        {{css "elicitationCSS-mobile"}}        
    -->
    <script>
        window.IsMobileDevice = true;
    </script>
{{/if}}

    <link rel="stylesheet" href="{{publicPath "dist/app.css"}}" />
    
    <script>
        ENV = {
            CP_DEFAULT_CACHEABLE: true,
            VIEW_PRESERVES_CONTEXT: true,
            FORCE_JQUERY: true // using jQuery 1.11, but Ember.js asserts 1.10
        };
    </script>

    <!--[if IE 8]>
        <script src="{{publicPath "libs/excanvas.js"}}"
    <![endif]-->

    <script src='{{publicPath "dist/vendor.js"}}'></script>
    <script src='{{publicPath "dist/app.js"}}'></script>
        
	{{includeStatic "eat.hbs"}}
	{{includeStatic "widgets.hbs"}}

    <script>
	 			var ELICITATION_SETTINGS = {{jsonStringify settings}};

        // Load expert list for the dropdown widget
        EAT.experts = {{jsonStringify expertNames}};
				
				$(document).ready(function () {
			    window.ElicitationApp = EAT.createApp(
			      'body',
						$.extend(ELICITATION_SETTINGS, {
							elicitationDefinition: $("script[type='text/x-elicitation-definition']").html(),
							priorSessionData: $("script[type='text/x-elicitation-prior-session-data']").html(),
							priorDataRaw: $("script[type='text/x-elicitation-prior-data']").html()
						})
					);
	        ElicitationApp.advanceReadiness();					
				});
    </script>
</head>
<body class="{{nzCategory}} {{#if settings.embedded}}embedded{{else}}not-embedded{{/if}}">

	{{#if showNZLogo}}
        <div id="vertical-spacer">
        </div>
        <div id="logo">
            <img src="{{publicPath "images/nz-logo.png"}}" />
        </div>
	{{/if}}


    <div id="page-load-throbber">
        Loading elicitation...<br />
        <img src="{{publicPath "images/page-load-throbber.gif"}}" width="220" height="19" />
    </div>

    <div id="confidentiality-indicator-box"></div>

    <!--[if lte IE 7]>
        <style>
            .elicitation-application {
                display: none;
            }
            #page-load-throbber {
                display: none;
            }
        </style>
        <div style="width:100%">
            <div id="browser-version-warning">
                <h1>Internet Explorer 7 isn't supported</h1>
                    
                <p>The elicitation system is incompatible with older versions of Internet Explorer. Sorry for the hassle!</p>
        
                <p>Do you have another computer available?  
            Or perhaps another web browser like Google Chrome or Mozilla Firefox?</p>

                <p>If you don't, check with the elicitor (you can reply to your invitation email!), as they may have a backup option available for you.</p>
            </div>
        </div>
    <![endif]-->

    <script type="text/x-elicitation-definition">{{{elicitationDefinition}}}</script>
		{{#if elicitationPriorSessionData}}
			<script type="text/x-elicitation-prior-session-data">{{{elicitationPriorSessionData}}}</script>
		{{/if}}
		{{#if elicitationPriorData}}
			<script type="text/x-elicitation-prior-data">{{{elicitationPriorData}}}</script>
		{{/if}}    
    
    {{#if settings.allowEditing}}
        <link rel="stylesheet" href="{{publicPath "dist/vendorElicitationEditor.css"}}" />        
        <script src="{{publicPath "dist/vendorElicitationEditor.js"}}"></script>
		<link href='http://fonts.googleapis.com/css?family=Rokkitt:400' rel='stylesheet' type='text/css' />        
    {{/if}}
    
</body>
</html>
