<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{{#if isMobileDevice}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
{{/if}}

    <link rel="SHORTCUT ICON" href="{{assetPath "favicon.ico"}}" />

    <title>{{elicitationName}} - Expert Elicitation</title>
    
{{includeStatic "google-analytics.html"}}

{{#if isMobileDevice}}
	{{css "elicitationCSS-mobile"}}
    <script>
        window.IsMobileDevice = true;
    </script>
{{else}}
	{{css "assets/site.css"}}
	{{css "assets/elicitation.css"}}
	{{css "assets/elicitation-categories.css"}}	
	{{css "assets/elicitation-widgets.css"}}
{{/if}}

	<!-- Include directly because it relies on relative image references -->
	<link rel="stylesheet" href="{{publicPath "themes/base/theme.css"}}" />
    
    <script>
        ENV = {
            CP_DEFAULT_CACHEABLE: true,
            VIEW_PRESERVES_CONTEXT: true
        };
    </script>

    <!--[if IE 8]>
		{{js "assets/shims-for-ie8.js"}}
    <![endif]-->

  <script>
      // using jQuery 1.11, but Ember.js asserts 1.10
      ENV = ENV || {};
      ENV.FORCE_JQUERY = true;
  </script>

	{{js "assets/site.js"}}
	{{js "assets/elicitation.js"}}
	{{js "assets/elicitation-widgets.js"}}
	{{js "assets/vendor.js"}}    
	{{js "assets/app.js"}}

        
	{{includeStatic "eat.hbs"}}
	{{includeStatic "widgets.hbs"}}

    <script>
	 			var ELICITATION_SETTINGS = {{jsonStringify settings}};

        // Load expert list for the dropdown widget
        EAT.experts = {{jsonStringify expertNames}};
				
				$(document).ready(function () {
			    window.ElicitationApp = EAT.createApp(
			      'body',
						$.extend(ELICITATION_SETTINGS, {
							elicitationDefinition: $("script[type='text/x-elicitation-definition']").html(),
							priorSessionData: $("script[type='text/x-elicitation-prior-session-data']").html(),
							priorDataRaw: $("script[type='text/x-elicitation-prior-data']").html(),              
							switchToEditModeAfterLoading: window.ELICITATION_SETTINGS.switchToEditModeAfterLoading && !EAT.get('unsupportedBrowserForEditing'),
						})
					);
	        ElicitationApp.advanceReadiness();					
				});
    </script>
				
		<link href='http://fonts.googleapis.com/css?family=Rokkitt:400' rel='stylesheet' type='text/css' />
</head>
<body class="{{nzCategory}} {{#if settings.embedded}}embedded{{else}}not-embedded{{/if}}">

	{{#if showNZLogo}}
        <div id="vertical-spacer">
        </div>
        <div id="logo">
            <img src="{{assetPath "images/nz-logo.png"}}" />
        </div>
	{{/if}}


    <div id="page-load-throbber">
        Loading elicitation...<br />
        <img src="{{assetPath "images/page-load-throbber.gif"}}" width="220" height="19" />
    </div>

    <div id="confidentiality-indicator-box"></div>

    <!--[if lte IE 7]>
        <style>
            .elicitation-application {
                display: none;
            }
            #page-load-throbber {
                display: none;
            }
        </style>
        <div style="width:100%">
            <div id="browser-version-warning">
                <h1>Internet Explorer 7 isn't supported</h1>
                    
                <p>The elicitation system is incompatible with older versions of Internet Explorer. Sorry for the hassle!</p>
        
                <p>Do you have another computer available?  
            Or perhaps another web browser like Google Chrome or Mozilla Firefox?</p>

                <p>If you don't, check with the elicitor (you can reply to your invitation email!), as they may have a backup option available for you.</p>
            </div>
        </div>
    <![endif]-->

    <script type="text/x-elicitation-definition">{{{elicitationDefinition}}}</script>
		{{#if elicitationPriorSessionData}}
			<script type="text/x-elicitation-prior-session-data">{{{elicitationPriorSessionData}}}</script>
		{{/if}}
		{{#if elicitationPriorData}}
			<script type="text/x-elicitation-prior-data">{{{elicitationPriorData}}}</script>
		{{/if}}    
    
    {{#if settings.allowEditing}}
      {{css "assets/elicitation-editing.css"}}
      {{js "assets/elicitation-editing.js"}}
    {{/if}}
    
</body>
</html>
